
body{
    text-align: center;
    background-color: #FFC1B0;
    /*background-attachment: fixed;*/
    font-family: Arial, Helvetica, sans-serif
}


input{
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input:focus{
    color: rgb(47, 0, 255);
}

#container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF765B;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-top: 0;
    color: white;
}

img {
    margin-top: 40px;
    width: 200px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

#resultado {
    background-color: #FFFBDF;
    margin: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow: 1px 3px 15px black;
}


#resultado:hover{
    background-color: #e0d792;
}


button{
    margin-bottom: 5px;
}


